body, header, footer{
    margin: 0;
}
@font-face {
    font-family: "JaldiR";
    src: url("../fonts/Jaldi-Regular.ttf");
}
@font-face {
    font-family: "JaldiB";
    src: url("../fonts/Jaldi-Bold.ttf");
}
@font-face {
    font-family: "Million Mile";
    src: url("../fonts/The Million Mile Man.ttf");
}
@font-face {
    font-family: "Archivo";
    src: url("../fonts/Archivo-Light.ttf");
}
h2, h3, h4, h5{
    font-family: "JaldiR";
}
header{
    top: 0;
}
.eventos{
    background-image: url(../imgs/bgev.jpg);
    background-repeat: no-repeat;
    background-size: 120%;
    background-position-y: 60%;
}
.ex{
    background: url(../imgs/bgex.jpg);
    background-repeat: repeat-x;
    background-size: 80%;
    background-position-x: center;
}
.contacto{
    background: url(../imgs/bgcontacto.jpg);
    background-repeat: repeat-x;
    background-size: 100%;
    background-position-x: center;
}
.index{
    background-image: url(../imgs/bgindex.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: center;
}
nav{
    top: -30px;
    position: absolute;
    width: 100%;
    background-color: #98EECC;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    list-style: none;
}
nav li{
    text-align: center;
    padding: 1rem;
    padding-inline: 3rem;
}
nav a{
    text-decoration: none;
    color: black;
    font-family: "JaldiB";
    font-size: larger;
}
nav a:hover{
    color: white;
}
.footer {
    position: fixed;
    left: 0;
    bottom: -20px;
    width: 100%;
    background-color: #98EECC;
}
.footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    list-style: none;
    text-align: center;
}
.footer li{
    text-align: center;
    padding-inline: 1rem;

}
.footer a, .footer p{
    text-decoration: none;
    font-family: "JaldiR";
}
.footer a:hover{
    color: blue;
}
.title{
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    bottom: 47%;
    position: fixed;
    font-family: "Archivo";
    font-size: 400%;
}
.section_ex{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    top: 30%;
    right: 50%;
    left: 50%;
}
.exhibicion{
    margin: 1rem;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    color: white;
}
.img_exhibicion{
    width: 400px;
}
.flecha{
    margin-top: 10rem;
    width: 50px;
}
.contacto_content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}
.section_contacto{
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40rem;
    background-color: rgb(0, 0, 0);
    border-radius: 1.5rem;
    color: white;
    line-height: 1rem;
}
.contac_apps{
    margin: 1rem;
}
.sec_eventos{
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    width: 55rem;
    height: 85rem;
    border-radius: 4rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.eventos_content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.sec_eventos img{
    width: 600px;
}
.bot_reservar{
    display: block;
    background-color: blue;
    padding-left: 1rem;
    padding-right: 1rem;
}
.bot_reservar h3{
    color: white;
    text-decoration: none;
}